<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <style>
        /* 가운데 정렬 */
        body {
            text-align: center;
        }
        /* 테두리와 스타일 적용 */
        .auth-number {
            border: 2px solid black;
            font-size: 24px;
            font-weight: bold;
            padding: 5px;
        }
    </style>
</head>
<body>
<p>음자리 임시 비밀번호는 <span class="auth-number" th:text="${password}"></span>입니다.</p>
<p>해당 비밀번호로 로그인 후 비밀번호를 필히 변경하여 주세요.</p>
</body>
</html>
